 html{
	 height: 100%;
	background-size: 100%, 100%;
	background-image: linear-gradient(#e9e2e9, #ddcce7);
	background-repeat: no-repeat;
	background-position: center center;
	color:#27262c;
	 text-shadow: 0.9px 1px 2px #8a46b0;
	font-size:16px;
 }

 #showsomecurrency{font-size:20px;}
 .Click{
	 background-color: #90628b75;
	 border-radius: 10px;
	 border-style: double;
 }
 .Click:hover {
  background-color: #d7acea;
  border-radius: 10px;
}
 #desc{
	 position: relative;
	 width:200px;
	 height:300px;
	
	border-style: double;
	border:2px;
	shadow:2px;
	background-image: linear-gradient(#120078, #260ac4);
	
	text-align:center ;
	text-shadow: 0.5px 0.9px #5b5532;
 }	
#desc_name{font-size: 30px; color:#d9c441;margin-top: 5px;margin-bottom: 5px;}
#desc_desc{font-size: 18px; color:#d9c441;}
 .title{
	text-align:center ;
	color: transparent;
	font-size: 50px;
	background-clip: text;
	background-size: 200% auto;
	animation-name: gradients;
	animation-duration: 15s;
	animation-iteration-count: infinite;
	text-shadow: none;
}
@keyframes gradients {
  0%   {background-color:red;}
  33%  {background-color:blue;}
  66%  {background-color:purple;}
  100%   {background-color:red;}
}

 .big{
	font-size: 18px;

	
	
}